server:
  compression:
    enabled: true
    mime-types: image/jpeg,text/html,text/xml,text/plain,text/css,text/javascript,application/javascript,application/json
    min-response-size: 1024
  http2:
    enabled: true
  port: 8080
  servlet:
    session:
      timeout: 60s
spring:
  profiles:
    active: production
  servlet:
    multipart:
      file-size-threshold: 2KB
      max-file-size: 5MB
      max-request-size: 7MB
  data:
    mongodb:
      # if explicit url is needed than it should be noted that %40 in the url stays for @
      uri: ${MONGODB_URL}
      uuid-representation: standard
